$secondcolor: #F4F2ED;
$primaryColor:#1d5a00;

@mixin default{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

@mixin linkColor{
    color:  $primaryColor;
}

@mixin  text-font {
    font-family: 'Montserrat', sans-serif;
}


.update_profile_info{
    margin-bottom: 10px;
    .personal_info{
    }
    .formField_container{
        margin-bottom: 10px;
        .formBlock{
            input{
                width: 400px;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                color: rgb(99, 99, 99)
            }
        }
    }
    .register_button{
        padding: 10px;
        border-radius: 5px;
        border: none;
        background: $primaryColor;
        color:white;
    }
}